
body {
    margin: 0;
    background: #222;
    font-family: "Open Sans", serif;
    background-image: url(assets/bg.jpg);
    background-size: cover;
    background-position: center;
    font-size: 120%;
    color: white;
    min-height: 100vh;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background:#6F4F375a;
    color: White;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input.search-bar{
    border: none;
    outline:none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #6F4F375a;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
    color: white;
}

button:hover{
    background: #6F4F3780;  
}

h1.temp{ 
    margin: 0;
    margin-bottom: 0.4em;
}

.description{
    text-transform: capitalize;
    font-size: 110%;
}

.flex {
    display: flex;
    align-items: center;
}

.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after{
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;

}

.container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 20px;
    flex-wrap: wrap;
}



.card,
.forecast-card {
    width: 100%;
    max-width: 420px;
    background: #6F4F375a;
    padding: 2em;
    border-radius: 30px;
    margin: 0;
}


.forecast-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
}

.forecast-item img {
    width: 40px;
}


@media (max-width: 768px) {
    .container {
            flex-direction: column;
            align-items: center;
            padding: 20px 10px;
        }

    .card,
    .forecast-card {
            width: 95%;
            max-width: 420px;
        }
}





